.singleHistory_normal {
  height: 100rpx;
  background-color: #e4e4e4;
  margin-right: 20rpx;
  margin-left: 20rpx;
  margin-top: 5rpx;
  border-radius: 15rpx;
}
.singleCurrentHistory_normal {
  height: 55rpx;
  width: 650rpx;
  margin-top: 5rpx;
  overflow: hidden;
  white-space: nowrap; // 处理元素内的空白：不换行
  text-overflow: ellipsis; //文本溢出处理方式：显示省略号
  font-size: larger;
}

.singleOutputHistory_normal {
  height: 35rpx;
  width: 650rpx;
  margin-bottom: 5rpx;
  color: rgb(139, 139, 139);
  font-size: medium;
  overflow: hidden;
  white-space: nowrap; // 处理元素内的空白：不换行
  text-overflow: ellipsis; //文本溢出处理方式：显示省略号
}
.textBody_normal{
  display: flex;
  flex-direction: column;
  margin-top: 5rpx;
  margin-bottom: 5rpx;
  margin-right: 20rpx;
  margin-left: 20rpx;
  align-items: flex-start;
  justify-content: center;
}


.singleHistory_big {
  max-height: 450rpx;
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  margin-right: 20rpx;
  margin-left: 20rpx;
  margin-top: 5rpx;
  border-radius: 30rpx;
}

.top{
  background-color: #e4e4e4;
  border-radius:15rpx;
  height: 80rpx;
}

.mainBody{
  display: flex;
  margin-top: 10rpx;
  background-color: #f3f3f3;
  flex-direction: column;
  max-height: 350rpx;
}


.textBody{
  display: flex;
  flex:4;
  flex-direction: column;
  margin-top: 5rpx;
  margin-bottom: 5rpx;
  margin-right: 20rpx;
  margin-left: 20rpx;
  max-height: 300rpx;
}

.buttonBody{
  flex:1;
  margin-right: 20rpx;
  margin-left: 20rpx;
  margin-bottom: 5rpx;
  display: flex;
  gap: 50rpx;
  max-height: 50rpx;
}
.button{
  width: 40rpx;
  height: 40rpx;
  
}