.mainTexBody{
  height: 200rpx;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content:space-around;
  background-color: rgb(158, 214, 186,0.3);
  margin-right: 20rpx;
  margin-left: 20rpx;
  border-radius: 20rpx;
}
.mainTex{
  height: 200rpx;
  width: 200rpx;
}

.inputBoxBody{
  display: flex;
  height: 400rpx;
  background-color:#e4e4e4;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  border-radius: 30rpx;
  flex-direction: column;
}
.inputBoxTextBody{
  flex:5;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  flex-direction:row;
}
.inputBoxButton{
  flex:1;
  display: flex;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;

}
.leftButton{
  display: flex;
  flex: 3;
}

.rightButton{
  display: flex;
  flex: 1;
}

.button{
  width: 50rpx;
  height: 50rpx;
}
.buttonBig{
  width: 70rpx;
  height: 70rpx;
}
.inputText{
  font-size: 35rpx;
}

.selectBody{
  display: flex;
  height: 80rpx;
  background-color:#e4e4e4;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  border-radius: 20rpx;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
}
.languageText{
  flex: 1;
  font-size: 40rpx;
}

.selectButton{
  width: 100rpx;
  height: 50rpx;
}

.outputBoxBody{
  display: flex;
  height: 400rpx;
  background-color:#e4e4e4;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  border-radius: 30rpx;
  flex-direction: column;
}
.outputBoxTextBody{
  flex:5;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
  flex-direction:row;
}
.outputBoxButton{
  flex:1;
  display: flex;
  margin-left: 20rpx;
  margin-right: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 10rpx;

}
.leftButton{
  display: flex;
  flex: 3;
}

.rightButton{
  display: flex;
  flex: 1;
}

.button{
  width: 50rpx;
  height: 50rpx;
}
.buttonBig{
  width: 70rpx;
  height: 70rpx;
}
.outputText{
  font-size: 35rpx;
}